<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fireDevilApp" ng-controller="UserDataCtrl">
        <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

        <!-- Add your site or application content here -->
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a ng-href="#">Home</a></li>
                    <li><a ng-href="https://github.com/Fire-Devil/Fire-Devil">About</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/">Swipe Feelz</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>

                <h3 class="text-muted">fireDevil</h3>
            </div>

            Search: <input ng-model="searchText">

            <div id="datavis" ng-controller="UserDataCtrl">
                <!-- Angular filter only works on arrays! So we use show instead -->
                <li ng-repeat="(key, value) in userSwipes" ng-show="key===searchText">
                    {{key}}: {{userSwipes[key]['mood']}}
                </div>


            <svg height="500" width="500">
                <rect ng-repeat="(key, value) in userSwipes"
                      ng-show="key===searchText"
                      x=100
                      ng-attr-y="{{400-userSwipes[key]['mood']['happy']}}"
                      width=100
                      ng-attr-height="{{userSwipes[key]['mood']['happy']}}"
                      fill="green">
                </rect>

                <rect ng-repeat="(key, value) in userSwipes"
                      ng-show="key===searchText"
                      x=200
                      ng-attr-y="{{400-userSwipes[key]['mood']['excited']}}"
                      width=100
                      ng-attr-height="{{userSwipes[key]['mood']['excited']}}"
                      fill="blue"
                      >
                </rect>

                <rect ng-repeat="(key, value) in userSwipes"
                      ng-show="key===searchText"
                      x=300
                      ng-attr-y="{{400-userSwipes[key]['mood']['sad']}}"
                      width=100
                      ng-attr-height="{{userSwipes[key]['mood']['sad']}}"
                      fill="yellow">
                </rect>

                <rect ng-repeat="(key, value) in userSwipes"
                      ng-show="key===searchText"
                      x=400
                      ng-attr-y="{{400-userSwipes[key]['mood']['angry']}}"
                      width=100
                      ng-attr-height="{{userSwipes[key]['mood']['angry']}}"
                      fill="purple"
                      >
                </rect>
            </svg>


            <div>
                I'm another div just for spacing
            </div>





            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
            <script>
                //    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                //    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                //    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                //    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                //    ga('create', 'UA-XXXXX-X');
                //    ga('send', 'pageview');
            </script>

            <!-- build:js(.) scripts/oldieshim.js -->
            <!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
            <!-- endbuild -->

            <!-- build:js(.) scripts/vendor.js -->
            <!-- bower:js -->
            <script src="bower_components/jquery/dist/jquery.js"></script>
            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script src="bower_components/firebase/firebase.js"></script>
            <script src="bower_components/angularfire/dist/angularfire.js"></script>
            <script src="bower_components/d3/d3.min.js"></script>
            <!-- endbower -->
            <!-- endbuild -->

            <!-- build:js({.tmp,app}) scripts/scripts.js -->
            <script src="scripts/app.js"></script>
            <!-- <script src="scripts/datavis.js"></script> -->
            <!-- endbuild -->
        </body>
    </html>
