<div class="jumbotron">
  <h1>Fire-Devil</h1>
  <p class="lead">
    <img src="http://i.imgur.com/4hgYc9q.gif" alt="Fire Dog"><br>
    Fire Dog says to swipe your feelz.
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">
<!--   <div ng-controller = "MainCtrl">
  {{data}}
  </div> -->
  <h4>Log in to swipe your feelz.</h4>
  <p>
    <a href="/login"><button>Log in</button></a>
  </p>
</div>
